---

- name: Install kubectl package
  snap:
    name: kubectl
    channel: "{{ kubectl_version }}/stable"
    classic: True
    state: present

- name: Install snap packages
  snap:
    name:
      - helm
    classic: True
    state: present

- name: Download Lens GPG key
  ansible.builtin.get_url:
    url: https://downloads.k8slens.dev/keys/gpg
    dest: /tmp/lens-archive-keyring.gpg
    mode: '0644'

- name: Dearmor Lens GPG key
  ansible.builtin.command:
    cmd: gpg --dearmor -o /usr/share/keyrings/lens-archive-keyring.gpg /tmp/lens-archive-keyring.gpg
  args:
    creates: /usr/share/keyrings/lens-archive-keyring.gpg

- name: Add lens APT repository
  apt_repository:
    repo: "deb [arch=amd64 signed-by=/usr/share/keyrings/lens-archive-keyring.gpg] https://downloads.k8slens.dev/apt/debian stable main"
    filename: lens
    state: present
    update_cache: True

- name: Install Lens Desktop
  ansible.builtin.apt:
    name: lens
    state: latest

- name: Clean up temporary GPG key file
  ansible.builtin.file:
    path: /tmp/lens-archive-keyring.gpg
    state: absent

- name: "Check k9s installed"
  shell: "k9s version | grep -qPe 'Version:.+{{ k9s_version }}'"
  register: version_check
  ignore_errors: True
  changed_when: False

- name: Download k9s binary
  get_url:
    url: "https://github.com/derailed/k9s/releases/download/v{{ k9s_version }}/k9s_Linux_amd64.tar.gz"
    dest: "/tmp/k9s_{{ k9s_version }}_linux_amd64.zip"
  when: version_check is failed

- name: Extract k9s
  unarchive:
    remote_src: True
    src: "/tmp/k9s_{{ k9s_version }}_linux_amd64.zip"
    dest: "/usr/local/bin"
    owner: root
    group: root
    mode: 0755
  when: version_check is failed

- name: "Check popeye installed"
  shell: "popeye version | grep -qPe 'Version:.+{{ popeye_version }}'"
  register: version_check
  ignore_errors: True
  changed_when: False

- name: Download popeye binary
  get_url:
    url: "https://github.com/derailed/popeye/releases/download/v{{ popeye_version }}/popeye_Linux_amd64.tar.gz"
    dest: "/tmp/popeye_{{ popeye_version }}_linux_x86_64.zip"
  when: version_check is failed

- name: Extract popeye
  unarchive:
    remote_src: True
    src: "/tmp/popeye_{{ popeye_version }}_linux_x86_64.zip"
    dest: "/usr/local/bin"
    owner: root
    group: root
    mode: 0755
  when: version_check is failed
