---
- name: Install common deb packages
  ansible.builtin.apt:
    name:
      - aptitude
      - apt-transport-https
      - net-tools
      - xz-utils
      - python3-apt
      - python3-gpg
      - python3-dnspython
      - python3-github
      - python3-netaddr
      - python3-openshift
      - python3-pytest
      - python3-virtualenv
      - openjdk-21-jdk
      - keepassx
      - geany
      - git
      - tig
      - vim
      - htop
      - mc
      - whois
      - curl
      - network-manager-openvpn-gnome
      - mokutil
      - software-properties-common
      - nmap
      - xclip
    state: latest
    update_cache: True
    cache_valid_time: 3600

#- name: install pip packages
#  pip:
#    name:
#      - yamllint
#      - pre-commit
#    state: latest

- name: Install snap packages
  snap:
    name:
      - jq
      - yq
      - go
      - pycharm-community
      - slack
      - skype
    classic: True
    state: present

- name: Install Dropbox
  ansible.builtin.apt:
    deb: "https://linux.dropbox.com/packages/ubuntu/dropbox_2024.04.17_amd64.deb"
    state: present
    update_cache: False
